<div class="map-info-window">
  <div class="card border-0">
    <div class="card-body">
      <h5 class="card-title mb-2"><%= location.title %></h5>
      <p class="card-text mb-1"><%= location.address %></p>
      <p class="card-text"><strong>€<%= number_with_precision(location.price, precision: 2) %></strong>/night</p>
    </div>
  </div>
</div>
